.bullet-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid rgba(59, 24, 0, 0.493);
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}


.bullet-input:focus,
.bullet-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}


.bullet-input::placeholder {
    color:#aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

fieldset {
    border: 1px solid rgba(59, 24, 0, 0.493) !important;
}
