.bullet-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid rgba(59, 24, 0, 0.493);
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}


.bullet-input:focus,
.bullet-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}


.bullet-input::placeholder {
    color:#aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

fieldset {
    border: 1px solid rgba(59, 24, 0, 0.493) !important;
}


#adv_text {
    color: whitesmoke;
    background-color: rgba(59, 24, 0, 0.493);
}

#bb-btn {
    color: whitesmoke;
    background-color: rgba(59, 24, 0, 0.815);
    padding: 10px !important;
}

#bb-btn:hover {
    background-color: rgba(59, 24, 0, 0.952);
}

.sign-btn {
    padding: 5px;
    border: 1px solid rgba(59, 24, 0, 0.37);
    font-weight: bold;
    color: rgb(83, 34, 2);
}

.sign-btn:hover {
    color: whitesmoke;
    background-color: rgb(121, 50, 3);
}

.jumbotron {
    height: 800px;
    padding: 0;
    margin: 0;
    background-image: url("https://melody-market.s3-eu-west-1.amazonaws.com/media/board.jpg") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important; 
    background-color: transparent !important;
    position: relative !important;
}

#bb-title {
    color: rgb(83, 34, 2);
    padding: 10px;
}

.adv-titles {
    color: rgb(83, 34, 2);
}

#adv-card {
   background-color: rgba(255, 247, 211, 0.911);

}

#bb-panel::-webkit-scrollbar {
  display: none;
}

#bb-panel {
    overflow-y: scroll;
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
   height: 500px;
}

@media (max-width: 700px){

.jumbotron {
    height: 800px;
    padding: 0;
    margin: 0;
    background-image: none !important;
    background-color: transparent !important;
    position: relative !important;
}

}