{% extends "base.html" %} {% load static %}


{% block page_header %}
	<div class="container header-container">
		<div class="row mt-5">
		</div>
		<div class="row mt-5">
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col">
	
			</div>
		</div>
		<div id="home-feature-container" class="container">
			<div class="row p-5">
				<div class="col">
				</div>
			</div>
			<div class="row align-items-center p-5">
				<div class="col"><img src="" width="250" height="250" id="feature1" alt="img"></div>
				<div class="col"><img src="" width="250" height="250" id="feature2" alt="img"></div>
				<div class="col"><img src="" width="250" height="250" id="feature3" alt="img"></div>
			</div>
			<div class="row">
				<div class="col">
					<h2 id="feature-title" class="mt-5 mb-5">FEATURES! Best prices on the market!</h2>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}


{% endblock %}