{% extends "base.html" %} {% load static %}


{% block page_header %}
	<div class="container empty-header">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container header-container mt-3">
		
		<div id="home-feature-container" class="container">
			<div class="row p-3">
				<div class="col">
                    <h2 class="btn"><a href="{% url 'home' %}"><span id="home-slogan"></span></a></h2>
				</div>
			</div>
			<div id="feature-pics" class="row align-items-center p-5">
				<div class="col"><img src="" width="280" height="280" id="feature1" alt="img"></div>
				<div class="col"><img src="" width="280" height="280" id="feature2" alt="img"></div>
				<div class="col"><img src="" width="280" height="280" id="feature3" alt="img"></div>
			</div>
			<div class="row">
				<div class="col">
					<h2 id="feature-title" class="mt-5 mb-5">CHECK OUR <strong>TOP PICKS!</strong> (With the best prices on the market!)</h2>
				</div>
			</div>
		</div>
	</div>

{% endblock %}