html {
    height: 100%;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 20px; 
    letter-spacing: 3px;
    background: url('/media/cover7.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 175px);
    color: black;
}

h1 {
    padding-top: 15px;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
}

a:hover {
    text-decoration: none;
}

/* ------------ Main navbar ------------*/

#navlinks a {
    background-color: rgba(58, 58, 58, 0.849);
    color: rgb(231, 231, 231) !important;
    font-weight: bold;
    padding: 10px 40px;
    border: 0.5px solid rgba(53, 21, 0, 0.856);
}

#navlinks a:hover {
    background-color: rgba(53, 21, 0, 0.856);
    color: whitesmoke !important;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0) !important;
}

#main_title {
    background-color: rgba(53, 21, 0, 0.856);
    color: whitesmoke;
}

#main_title i {
    color: whitesmoke;
}

.black {
    color: black !important;
}

#acc,
#bag {
    color: whitesmoke;
    font-size: 15px;
}

/* ----------- Homepage Feature ----------- */

#home-feature-container {
    height: 680px;
    max-width: 1400px !important;
    vertical-align: middle;
    background-color: rgba(223, 223, 223, 0.671) !important;
    border: 2px solid rgba(53, 21, 0, 0.856);
    overflow-y: scroll;
}

#feature-title {
    font-size: 30px;
}

#home-slogan {
    padding-top: 20px;
}

article a {
    color: rgb(56, 18, 0);
    font-weight: bold;
}

#blog {
    background-color: whitesmoke;
    width: 80%;
    display: inline-block;
    text-align: center;
    padding: 15px;
    }

.date {
    font-size: 15px;
    font-weight: bold;
}

#source {
    font-size: 15px;
}

/* ----- YouTube Video Responsive Size -----*/

.video-container {
    position: relative;
    padding-bottom: 49%;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------- Items --------- */

.description-back {
    background-color: rgba(255, 255, 255, 0.699);
    border: 2px solid rgb(56, 18, 0);
    line-height: 2;
    padding: 10px;
}

/* ------ Scrollbar ----- */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(53, 21, 0, 0.856);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ------ Footer ------- */

#footer {
    font-size: 15px;
    margin-top: 25px;
}

#footer a {
    color: rgb(56, 18, 0);
    font-weight: bold;
}

/* ---------- Images ------------- */

#feature1,
#feature2,
#feature3 {
    border: 2px solid rgb(56, 18, 0);
    border-radius: 50%;
}

/* ------------ Media Queries ----------- */

/* --- Mobile screens --- */

/* small mobile */
@media (max-width: 375px){

body {
    font-size: 12px;
}

#feature-title {
    font-size: 20px;
}

#feature1 {
    height: 180px;
    width: 180px;
}

#feature2,
#feature3 {
    display: none;
}

.none-visible {
    display: none;
}

}

/* mid to large mobile */

@media (min-width: 375px) and (max-width: 991px){

body {
    font-size: 12px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    padding-top: 10px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
}

#home-feature-container {
    margin-top: 60px;
    width: auto;
}

#feature-title {
    font-size: 20px;
}

#feature2,
#feature3 {
    display: none;
}

.none-visible {
    display: none;
}

}

/* --- Large screens --- */

@media (min-width: 992px){


.container {
    max-width: 80%;
}

 .header-container {
        padding-top: 185px;
    }

}