<div class="collapse navbar-collapse" id="main-nav">
    <ul id="navlinks" class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="instruments" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Instruments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="instruments">
                <a href="{% url 'items' %}?category=guitars" class="dropdown-item">Guitars</a>
                <a href="{% url 'items' %}?category=basses" class="dropdown-item">Basses</a>
                <a href="{% url 'items' %}?category=strings" class="dropdown-item">Strings</a>
				<a href="{% url 'items' %}?category=woodwind" class="dropdown-item">Woodwind</a>
				<a href="{% url 'items' %}?category=keyboard" class="dropdown-item">Keyboard</a>
				<a href="{% url 'items' %}?category=brass" class="dropdown-item">Brass</a>
				<a href="{% url 'items' %}?category=percussion" class="dropdown-item">Percussion</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="accessories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories">
                <a href="{% url 'items' %}?category=microphones" class="dropdown-item">Microphones</a>
				<a href="{% url 'items' %}?category=cables" class="dropdown-item">Cables</a>
                <a href="{% url 'items' %}?category=guitar_strings_pics" class="dropdown-item">Guitar Strings & Pics</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link" href="{% url 'home' %}">
                Sale
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link" href="{% url 'items' %}">
                Second Hand
            </a>
        </li>
    </ul>
</div>
