<div class="collapse navbar-collapse" id="main-nav">
    <ul id="navlinks" class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Instruments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a class="dropdown-item">Guitars</a>
                <a class="dropdown-item">Basses</a>
                <a class="dropdown-item">Strings</a>
				<a class="dropdown-item">Woodwind</a>
				<a class="dropdown-item">Keyboard</a>
				<a class="dropdown-item">Brass</a>
				<a class="dropdown-item">Percussion</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a class="dropdown-item">Microphones</a>
				<a class="dropdown-item">Cables</a>
                <a class="dropdown-item">Guitar pics</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">
                Discounts
            </a>
        </li>

    </ul>
</div>
