{% extends "base.html" %} {% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bulletin_board/css/bb.css' %}">
{% endblock %}

{% block page_header %}
	<div class="container empty-header">
        <div class="row">
            <div class="col mt-5 pt-5 d-none d-md-block"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
{% if user.is_authenticated %}

<div class="row mt-5 pt-5">
    <div class="col">
     <p>Are you selling or buying an instrument or a piece of equipment?</p> 
     <p>Maybe you are looking for a fellow musician for that cool new band of yours?</p>
    </div>
</div>
<form method="POST" action="{% url 'addMessage' %}">
			{% csrf_token %}
	<button id="bb-btn" class="btn" style="width:fit-content; padding: 4px; margin:10px;">Add a message</button>
</form>

<div class="row">
	{% for top in topic %}
	<div class="col-12 col-md-6 mb-4">
		<div class="card box container">
			<br>
			<h5 class="card-title">
				<h3 class=""><strong>{{ top.title }}</strong></h3>
			</h5>
			<div class="card-body container">
			<hr>
			{% for text in texts %}
                {% for objs in text %}
                 <p>
                    {% if objs.advert == top %}
                        <small>{{ objs.date_created }}</small>
                        <br>
                        <p id="adv_text">{{ objs.text }}</p>
                        {{ objs.phnumber }}
                    {% endif %}
                </p>
                {% endfor %}
            {% endfor %}
			</div>
		</div>
	</div>
    {% endfor %}
</div>

{% else %}
<div class="row mt-5 pt-5">
	<div class="col mt-5 pt-5">
    <h2>Bulletin Board</h2>
    </div>
</div>
<div class="row mt-5">
	<div class="col mt-5">
		<label class="form-check-label" for="id-save-info">
    <a class="sign-btn" href="{% url 'account_signup' %}">Create an account</a> or 
    <a class="sign-btn" href="{% url 'account_login' %}">login</a> to access the Bulletin Board
</label>
	</div>
</div>
{% endif %}
</div>
{% endblock %}
