{% extends "base.html" %} {% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bulletin_board/css/bb.css' %}">
{% endblock %}

{% block page_header %}
	<div class="container empty-header">
        <div class="row">
            <div class="col mt-5 pt-5 d-none d-md-block"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
{% if user.is_authenticated %}

<div class="jumbotron">
    <div class="row mt-5 pt-5">
        <div class="col-2"></div>
        <div class="col-8 d-none d-md-block">
            <div class="mt-2 mb-1" id="bb-title">
                <h4><strong>Leave a short note if in search for an instrument or a musician!</strong></h4>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

<form class="mb-3" method="POST" action="{% url 'addMessage' %}">
			{% csrf_token %}
	<button id="bb-btn" class="btn mb-4" style="width:fit-content; padding: 4px; margin:10px;">Add a message</button>
</form>

<div id="bb-panel" class="row no-gutters">
<div class="col-2"></div>
	{% for top in topic %}
	<div class="col-12 col-md-4 mb-4">
		<div id="adv-card" class="card box container">
			<br>
			<h5 class="card-title">
				<h3 class="adv-titles"><strong>{{ top.title }}</strong></h3>
			</h5>
			<div class="card-body container">
			<hr>
			{% for text in texts %}
                {% for objs in text %}
                 <p>
                    {% if objs.advert == top %}
                        <small>{{ objs.date_created }}</small>
                        <br>
                        <p id="adv_text">{{ objs.text }}</p>
                        <p>{{ objs.phnumber }}</p>
                        <hr>
                    {% endif %}
                </p>
                {% endfor %}
            {% endfor %}
			</div>
		</div>
	</div>
    {% endfor %}
    <div class="col-3"></div>
</div>

{% else %}
<div class="row mt-5 pt-5">
	<div class="col mt-5 pt-5">
    <h2>Bulletin Board</h2>
    </div>
</div>
<div class="row mt-5">
	<div class="col mt-5">
		<label class="form-check-label" for="id-save-info">
    <a class="sign-btn" href="{% url 'account_signup' %}">Create an account</a> or 
    <a class="sign-btn" href="{% url 'account_login' %}">Login</a> to access the Bulletin Board
</label>
	</div>
</div>
{% endif %}
</div>
</div>
{% endblock %}
