{% extends "base.html" %} {% load static %}


{% block page_header %}
	<div class="container empty-header">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="product-container header-container col-6 offset-3">
                <div class="row mt-2 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                    <div class="row fluid">
                        <div class="col-4">
                            <div class="card h-100 border-3">
                                {% if product.image %}
                                <a href="{% url 'item_details' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'item_details' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0 border-1">
                                    
                                </div>
                                <div class="card-footer pt-0 border-1 text-center">
                                    <div class="row">
                                        <div class="col pt-2">
                                            <p class=" mb-0 font-weight-bold">€{{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 align-self-center">
                            <p class="pb-3 item_name"><strong><a href="{% url 'item_details' product.id %}">{{product.name }}</a></strong></p>
                            <p class="mt-5 description-back">{{ product.description }}</p>
                        </div>
                   </div>
                    <div class="row mt-2 mb-2 w-100">
                        <div class="col offset-1" style="border-bottom: 1px dotted #434654"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
{% endblock %}